body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.quick-links-ribbon {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1e1e2e;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.quick-links-ribbon a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.quickLinksRibbon a:hover {
  color: #ffcc00;
}

.main-content {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
font-size: 1.2em;
margin-bottom: 30px;
}

.mission-statement {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.mission-statement ul {
  text-align: left;
}